<table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%" *ngIf="citaList.length >0"  id="medicoTable-table">
  <thead>
    <tr>
      <th>HORA</th>
      <th>COD PACIENTE</th>
      <th>NOMBRE PACIENTE</th>
      <th>APELLIDO PACIENTE</th>
      <th>COD ESPECIALIDAD/th>
      <th>ESPECIALIDAD</th>
      <th>SALA</th>
      <th>FECHA</th>
      <th>CODIGO CITA</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citaList" class="banner-ingrediente-item">
      <th>{{cita.hora}}</th>
      <th>{{cita.paciente.codigo}}</th>
      <th>{{cita.paciente.nombre}}</th>
      <th>{{cita.paciente.apellido}}</th>
      <th>{{cita.especialidad.codigo}}</th>
      <th>{{cita.especialidad.nombre}}</th>
      <th>{{cita.sala.codigo}}</th>
      <th>{{cita.fecha}}</th>
      <th>{{cita.codigo}}</th>
      <th>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="enviarId($event)">
          <img src="https://i.imgur.com/LjBlgTB.png" alt="editar">
        </button>
        <!--
        <button class="btn btn-danger mx-1">
          <img src="https://i.imgur.com/V8YjCOQ.png" alt="editar" (click)="enviarIdEliminar($event)">
        </button>-->
      </th>
    </tr>
  </tbody>

</table>
