<div class="d-flex flex-column align-items-left" [style.width.px]="navBarWidth" id="nav-Bar">
  <div>Cayetano Heredia</div>
  <a href="#" class="nav-bar-item">
    <img src="https://i.imgur.com/n3tttbV.png" alt="img-cita">
    <span [style.display]="navBarDisplay">
      Medico
    </span>
  </a>
  <a href="#" class="nav-bar-item">
    <img src="https://i.imgur.com/iHg04O6.png" alt="img-paciente">
    <span [style.display]="navBarDisplay">
      Paciente
    </span>
  </a>
  <a href="#" class="nav-bar-item">
    <img src="https://i.imgur.com/FzIUCtN.png" alt="img-topico">
    <span [style.display]="navBarDisplay">
      Tópico
    </span>
  </a>
  <a href="#" class="nav-bar-item">
    <img src="https://i.imgur.com/XLvJJPr.png" alt="img-historial">
   <span [style.display]="navBarDisplay">
    Historial
   </span>
  </a>
  <a href="#" class="nav-bar-item">
    <img src="https://i.imgur.com/91H7bhh.png" alt="img-cita">
    <span [style.display]="navBarDisplay">
      Cita
    </span>
  </a>
</div>
