  <form class="login-form" method="post">
    <div class="alert alert-danger">Credenciales incorrectas</div>
      <div class="alert alert-success">Sesión terminada</div>
    <p class="login-text">
      <span class="fa-stack fa-lg">

        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    <input  class="login-username" autofocus="true" required="true" placeholder="Usuario" name="username"/>
    <input type="password" class="login-password" required="true" placeholder="Password" name="password"/>
    <input type="submit" name="Login" value="Login" class="login-submit" />
  </form>
  <a href="#" class="login-forgot-pass">forgot password?</a>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


